<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    {% endblock corecss %}
    <title> {% block title %}{% endblock title %}</title>
  <style>
    input[type="text"]:focus,
    textarea:focus{   
  border-color: rgba(126, 239, 104, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
  outline: 0 none !important;
}
.eroroFoc:focus{   
border-color: rgb(207, 56, 64) !important;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(207, 56, 64) !important;
outline: 0 none !important;
}
  </style>
</head>
<body>

    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-sm-2">
        {% include './sidebar.htm' %}
        </div>
         <div class="col-sm-10">
             {% block body %}{% endblock body%}
         </div>
      </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>