{% extends 'core/base.htm' %}
{% load static %}
{% block title%}Contact{% endblock title%}
{% block body %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact.
            I will come back to you with in a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb--5">
            <form action="{% url 'contact' %}" method="POST" novalidate>
                {% if msg %}
                <p class="text-center text-success">{{msg}}</p>
                {% endif %}
                {% csrf_token %}
                <div class="form-row">
                    {% for frm in form  %}
                    {% if frm.field.widget.input_type == 'text' %}
                    <div class="form-group col-md-6">
                        {{frm.label_tag}}
                        {{frm}}
                        {% if frm.errors %}
                        <span class="text-danger">{{frm.errors|striptags}}</span>
                        {% endif %}
                     
                    </div>
                    {% else %}
                    <div class="form-group col-md-12">
                        {{frm.label_tag}}
                        {{frm}}
                        {% if frm.errors %}
                        <span class="text-danger">{{frm.errors|striptags}}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
                 
                    
                    <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Bhunbaneswar,Odisha,India</p>
                </li>
                <li>
                    <i class="fas fa-phone fa-2x i-color mt-4"></i>
                    <p>+91-6302532216</p>
                </li>
                <li>
                    <i class="fas fa-envelope fa-2x i-color mt-4"></i>
                    <p>kishoresahoo2050@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="#" target="_blank">
        <i class="fab fa-twitter i-color mr-3"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fab fa-facebook-f i-color mr-3"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fab fa-instagram i-color mr-3"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fab fa-dribbble i-color mr-3"></i>
    </a>
</div>
{% endblock body%}