{% extends 'core/base.htm' %}
{% load static %}
{% block corecss %}
<link rel="stylesheet" href="{% static 'css/core.css' %}">
{% endblock corecss %}
{% block title%}Home{% endblock title%}
{% block body %}
<div class="mt-5">
        <div class="text-center">
            <img src="{% static 'images/img.png' %}" alt="profile" class="img-thumbnail" width="250px" height="150px">
        </div>
    <div class="text-white mt-5 mx-5 text-justify">
        <h1 class="font-weight:bold st-font">Hello,</h1>
        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent: 100px;"> I am <b class="text-warning"> Kishore Sahoo </b> havbing 2 years of full-stack web 
                development experience for global bussiness,I offer the techncal expertise you are seeking for your web develper position.    
            </p>
            <p>
                Since earning my bachlor's degree in internet and web development from XYZ Unversity, I have served as a web  developer
                at <b class="text-warning"> Gs Technology</b>, one of biggest premier digital marketing and web development firm.In this position
                ,I have led web development projects for cliennts.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3"> Contact</a>
    </div>
</div>
{% endblock body%}