    <div class="border-right border-warning h-100">
     <div class="text-center">
        {% load static %}
         <img src="{% static 'images/img.png' %}" alt="profile" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
         <h3 class="text-white mt-5 st-font">Kishore Sahoo</h3>
     </div>
     <hr class="border-light">
     <nav class="nav flex-column text-center">
         <a href="/" class="nav-link {{home}}">Home</a>
         <a href="{% url 'service' %}" class="nav-link {{serv}}">Service</a>
         <a href="{% url 'skills' %}" class="nav-link {{skill}} ">Skill</a>
         <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
     </nav>
    </div>